<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workshop Vue</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="myApp">
    <div class="card" v-for="jobOffer in jobOffers">
      <div class="card__logo-container" v-html="jobOffer.companyLogo"></div>
      <div class="card__offer">
        <div class="card__offer--top">
          <h2 class="role">{{ jobOffer.role }}</h2>
          <div class="skills-container">
            <span class="skills-container__skill" v-for="skill in jobOffer.softSkills">
              <span v-html="skill">{{skill}}</span>
            </span>
          </div>
        </div>
        <div class="card__offer--bottom">
          <div class="categories company">
            <img width="15" height="15" src="https://img.icons8.com/ios/50/company--v1.png" alt="company--v1"/>
            <span>{{ jobOffer.company }}</span>
          </div>
          <div class="categories location">
            <img width="15" height="15" src="https://img.icons8.com/material-outlined/24/marker.png" alt="marker"/>
            <span>{{ jobOffer.location }}</span>
          </div>
          <div class="categories salary">
            <img width="15" height="15" src="https://img.icons8.com/material-sharp/24/money.png" alt="money"/>
            <span>{{ jobOffer.salary }}</span>
          </div>
          <div class="categories vacancy">
            <img width="15" height="15" src="https://img.icons8.com/wired/64/groups.png" alt="groups"/>
            <span>{{ jobOffer.vacancies }} Vacante{{ (jobOffer.vacancies > 1) ? 's' : '' }}</span>
          </div>
          <div class="categories calendar">
            <img width="15" height="15" src="https://img.icons8.com/sf-ultralight/25/calendar.png" alt="calendar"/>
            <span>{{ jobOffer.publishDate }}</span>
          </div>
          <div class="benefits">
            <span v-for="icon in jobOffer.perks" v-html="icon.icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="./app.js"></script>
</body>
</html>